PORT=8000
AUTH_SERVICE_URL=http://localhost:8001
VALIDATOR_SERVICE_URL=http://localhost:8002
WORKER_SERVICE_URL=http://localhost:8003
SESSION_SECRET=super-secret-development-key
DATABASE_URL=sqlite:///../../backend/app.db
